<div class="widget large">
<h2>List of all posts ever made!</h2>

<h3><a href="/posts/new">Click here</a> to write a new post.</h3>

<form action="/posts" method="GET">

	<div class="form-group">
	  <label for="site">Sites:</label>
	  <select class="form-control" name="siteId" id="site">
	    <% sites.forEach(function(site) { %>
	    	<% if(site.name === "All Sites") { %>
	    		<option value="<%=site.id%>" selected="selected"><%= site.name %></option>
	    	<% } else { %>
	        	<option value="<%=site.id%>" ><%= site.name %></option>
	        <% } %>
	    <% }); %>
	  </select>
	</div>

	<div class="form-group">
	  <label for="topic">Topics:</label>
	  <select class="form-control" name="topicId" id="topic" name="topic">
	    <% topics.forEach(function(topic) { %>
	    	<% if(topic.name === "All Topics") { %>
	    		<option value="<%=topic.id%>" selected="selected"><%= topic.name %></option>
	    	<% } else { %>
	    		<option value="<%=topic.id%>" ><%= topic.name %></option>
	        <% } %>	        
	    <% }); %>
	  </select>
	</div>

	<input type="submit" value="Search">

</form>

<% if(posts.length>0){ %>
	<div>
		<% posts.forEach(function(post) { %>
			<div class="well">
				<h2><a href="/posts/<%=post.id%>"><%=post.subject%></a></h2>
			</div>
		<% }); %>
	</div>
<%	} else { %>
	<h2>No posts for this location yet!</h2>
	<h3><a href="/posts/new">Click here</a> to write a new post.</h3>
<% } %>
</div>