<h2 class = "text-center"><%= post.subject %></h2>
<p>
	<%= post.content %>
</p>
<div>
	<% post.topics.forEach(function(t){ %>
		<a href="/topics/<%= t.id %>"><%= t.content %></a>
	<% }); %>
</div>

<!-- <hr>
<h3>Add Your Comments</h3>
<form method="post" action="/comments">
	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" name="content"></textarea>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input class="form-control" type="text" placeholder="your name" name="name" required>
		<input type="hidden" name="articleId" value="<%= result.id %>">
	</div>
	<input type="submit" class="btn btn-info">
</form>
<hr>
<% if(result.comments && result.comments.length>0) {%>
	<h3>Previous Comments</h3>
	<% result.comments.forEach(function(c){ %>
		<div>
			<p><%= c.content %> </p>
			<em>- <%= c.name %> (<%= moment(c.createdAt).calendar()%>)</em>
		</div>
	<%});%>
<%} else {%>
	<p>Be the first to comment on this article!</p>
<%}%> -->