<h2><%= post.subject %></h2>
<h3>Writen by <%= author.displayName %></h3>
<h4><%=post.site.name%></h4>
<p>
	<%= post.content %>
</p>
<div>
	<% post.topics.forEach(function(t){ %>
		<a href="/posts/?siteId=all&topicId=<%=t.id%>>"><%= t.name %></a>
	<% }); %>
</div>
<hr>
<% if(comments && comments.length>0) {%>
	<h3>Previous Comments</h3>
	<% comments.forEach(function(c){ %>
		<div>
			<h5><%=c.user.displayName%></h5>
			<p><%= c.content %> </p>
		</div>
	<%});%>
<% } else {%>
	<p>Be the first to comment on this article!</p>
<% } %>

<% if (currentUser) { %>
	<form method="post" action="/comments">
		<div class="form-group">
			<label>Content</label>
			<textarea class="form-control" name="content"></textarea>
		</div>
		<input type="hidden" name="userId" value="<%=user.id%>">
		<input type="hidden" name="postId" value="<%=post.id%>">
		<input type="submit" class="btn btn-info">
	</form>
<%} else { %>
	<a href="/auth/login">Log In</a> to comment on this post.
<% } %>