
<div class="post">
	<h2><%= post.subject %></h2>
	<h3>Writen by <%= author.displayName %></h3>
	<h4><%=post.site.name%></h4>
	<p>
		<%= post.content %>
	</p>
	<div>
		<strong>Topics:</strong>
		<% post.topics.forEach(function(t){ %>
			<a href="/posts/?siteId=1&topicId=<%=t.id%>"><%= t.name %></a>,
		<% }); %>
	</div>
</div>

<% if(currentUser) { %>

	<% if(currentUser.id === post.authorId) { %>
			<a href="/posts/edit/<%= post.id %>">Edit Post</a>
			<a href="/posts/<%= post.id %>" class="delete-link">Delete Post</a>
	<% } else if (isTracking) { %>
			<a href="/posts/untrack?postId=<%=post.id%>&userId=<%=currentUser.id%>">Stop Tracking this Post</a>
	<% } else { %>
			<a href="/posts/track?postId=<%=post.id%>&userId=<%=currentUser.id%>">Track this post!</a>
	<% } %>

<% } else { %>

	<a href="/auth/login">Log in to track this post!</a>
	
<% } %>

<hr>
<% if(comments && comments.length>0) {%>
	<h3>Previous Comments</h3>
	<% comments.forEach(function(c){ %>
		<div>
			<h5><%=c.user.displayName%></h5>
			<p><%= c.content %> </p>
		</div>
	<%});%>
<% } else {%>
	<p>Be the first to comment on this article!</p>
<% } %>

<% if (currentUser) { %>
	<form method="post" action="/comments">
		<div class="form-group">
			<label>Content</label>
			<textarea class="form-control" name="content"></textarea>
		</div>
		<input type="hidden" name="userId" value="<%=currentUser.id%>">
		<input type="hidden" name="postId" value="<%=post.id%>">
		<input type="submit" class="btn btn-info">
	</form>
<%} else { %>
	<a href="/auth/login">Log In</a> to comment on this post.
<% } %>